body {
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #222; /* Dark background color */
    color: #fff; /* Light text color */
}

.countdown-container {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line on smaller screens */
    justify-content: center; /* Center items horizontally */
    text-align: center; /* Center text within items */
}

.countdown-item {
    margin: 0 10px;
    font-size: 2em; /* Increased font size */
    color: #87CEEB; /* Light blue color */
}

@media (max-width: 600px) {
    /* Adjust styles for screens with a width of 600 pixels or less (typical for mobile devices) */
    .countdown-item {
        font-size: 1.5em; /* Reduce font size for smaller screens */
        margin: 5px; /* Adjust margin for better spacing on smaller screens */
    }
}
