body {
    font-family: 'Consolas', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #222; /* Dark background color */
    color: #87CEEB; /* Light text color */
}

.countdown-container {
    display: flex;
}

.old-man {
    text-align: right;
    margin-bottom: 100px; /* Adjust as needed */
    margin-left: auto;
}

.old-man h2 {
    margin: 0 15px
}

.countdown-item {
    margin: 150px 15px;
    font-size: 4em; /* Increased font size */
}
